@use "./variables" as *;
@use "./mixins" as *;

body {
  background-color: $page-mainColor!important;
}

.auth-wrapper {
  padding: 1rem;
}

.button-custom {
  background-color: $page-secondaryColor;
  
  
  &:hover {
    background-color: #ffa407;
  }
}

.auth-field {
  border-color: #ffffff !important;
  
  .icon-box {
    width: 32px;
    height: 32px;
    border-color: #ffffff !important;
    color: #ffffff;
  }
  
  .auth-input {
    background: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    
  }
}

.bg-alta {
  background-color: #FF5252 !important; 
}

.bg-media {
  background-color: #FFC107 !important; 
}

.bg-bassa {
  background-color: #4CAF50 !important; 
}

.btn-new-ticket {
  background-color: $page-secondaryColor; 
  border: none;
  font-weight: 500;
}